/* gloss.css
Style elements for the Glossary Extension - lmdi31 version
*/

lmdigloss {
	/* border-bottom: none ; */
	text-decoration: none;
	cursor: help;
	color:#865931;
}

#lexiconEntry {
	position:absolute;
	left:10%;
	width:500px;
	padding:1em;
	height:auto;
	border:1px #2e7602 solid;
	background:#FFFFFF;
	color:black;
	font-size:75%;
	text-align: center;
	z-index: 10;
	}
#lexiconEntry h3{
	font-size:1.5em;
	color:#2e7602;
	/* background:transparent; */
	display:inline;
	}
a#lexiconClose {
	color:#2e7602;
	background:#E3E8D5;
	padding:0 5px 1px 5px;
	border:1px solid #0177B3;
	float:right;
	}
a#lexiconClose:hover, a#lexiconClose:active {
	color:#000000;
	background:#2e7602;
	border:1px solid #000000;
	}
#lexiconEntry.loading {
	background: #FFFFFF;
	}
img.popgloss {
	max-width:500px;
	}

