#back-top {
	border:1px solid #576357;
	position: fixed;
	bottom: 20px;
	right: 20px;
	}
#back-top a {
	width: 36px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #bbb;
	}
#back-top a:hover {
	color: #d5c997;
	}
#back-top span {
	width: 36px;
	height: 30px;
	display: block;
	background: url("images/top.png") no-repeat center center;
}
