/* table.css */
/* Stylesheet for the glossary tables */
/* Prosilver */
/* (c) Pierre Duhem 2015-2018 */

table.deg {
	border-collapse:collapse;
	border:1px solid #4e6fa6;
	width:90%;
	padding:3px;
	margin-left:auto;
	margin-right:auto;
	}
tr.deg, th.deg, td.deg {
	border:1px solid #4e6fa6;
	padding:3px 5px;
	color:#4e6fa6;
	}

/*	Table titles */
th.deg0 {
	border:1px solid #4e6fa6;
	text-align:left;
	padding:3px 5px;
	color:#4e6fa6;
	font-weight: bold;
	font-size: 120%;
	}
/* Centered */
th.deg1 {
	border:1px solid #4e6fa6;
	text-align:center;
	padding:3px 5px;
	color:#4e6fa6;
	font-weight: bold;
	font-size: 120%;
	}
/* Right */
th.deg2 {
	border:1px solid #4e6fa6;
	text-align:right;
	padding:3px 5px;
	width: 40px;
	color:#4e6fa6;
	font-weight: bold;
	font-size: 120%;
	}

/*	Data cells */
/*  Text left */
td.deg0 {
	border:1px solid #4e6fa6;
	text-align:left;
	padding:3px 5px;
	color:#4e6fa6;
	font-size: 120%;
	}
/* Text centered */
td.deg1 {
	border:1px solid #4e6fa6;
	text-align:center;
	padding:3px 5px;
	color:#4e6fa6;
	font-size: 120%;
	}
/* Text right */
td.deg2 {
	border:1px solid #4e6fa6;
	text-align:right;
	padding:3px 5px;
	width: 40px;
	color:#4e6fa6;
	font-size: 120%;
	}
.glossi {
	padding: 5px 0 5px 0;
	background-color: #017AB6;
	color: white;
	font-size: 140%;
	font-weight: bold;
	}
.haut {
	padding: 0;
	background-color: #017AB6;
	text-align: center;
	vertical-align: bottom;
	}
.glossa {
	padding: 25px 0 5px 0;
	color: #4e6fa6;
	font-size: 300%;
	font-weight: bold;
	}
.cap {
	padding: 5px 5px 5px 5x;
	color: #4e6fa6;
	font-size: 200%;
	font-weight: bold;
	}
a.ilinks:link, a.ilinks:visited, a.ilinks:hover, a.ilinks:active {
	color: #f86666;
	}
