{% INCLUDECSS '@lmdi_gloss/tables.css' %}
{% INCLUDE 'overall_header.html' %}
<span id="top"></span>

<h2>{{ lang('GLOSS_ADMINISTRATION') }}</h2>

<div class="panel">
   <div class="inner">
	<span class="corners-top"><span></span></span>
		<div class="content">
			<span id="haut"></span>
			<p class="glossa">{% for gabc in loops.gabc %}<a class="cap" href ="#{{ gabc.ABC }}">{{ gabc.ABC }}&nbsp;</a>{% endfor %}</p>
			<p>{{ EDIT_EXPLAIN }}
			<table class="deg">
			<thead>
				<tr>
					<th class="deg0">{{ lang('GLOSS_ED_TERM') }}</th>
					<th class="deg0">{{ lang('GLOSS_ED_DEF') }}</th>
					<th class="deg1">{{ lang('GLOSS_ED_PICT') }}</th>
					<th class="deg1">{{ lang('GLOSS_ED_ACT') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for ged in loops.ged %}
				<tr>
				<td class="deg0">{{ ged.ANCHOR }}<span id="{{ ged.ID }}"><b>{{ ged.TERM }}</b></span><br>{{ ged.CAT }}<br>{{ ged.ID }}</td>
				<td class="deg0">{{ ged.DEF }}{% if ged.S_ILINKS %}<br>{{ lang('GLOSS_ILINK') }}{{ ged.ILINKS }}{% endif %}{% if ged.S_ELINKS %}<br>{{ lang('GLOSS_ELINK') }}<a class="ilinks" href="{{ ged.ELINKS }}">{{ ged.LABEL }}</a>{% endif %}</td>
				<td class="deg1">{% if ged.S_URL %}<a href="{{ ged.URL }}">{{ ged.STRURL }}</a>{% endif %}</td>
				<td class="deg1">{{ ged.ACTION }}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	<span class="corners-bottom"><span></span></span>
   </div>
</div>

<p id="back-top">
	<a href="#top"><span></span><b>{{ lang('BACKTOP') }}</b></a>
</p>

{% INCLUDE 'jumpbox.html' %}
{% INCLUDE 'overall_footer.html' %}