{% INCLUDE 'overall_header.html' %}

<h2>{{ TITLE }}</h2>

<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
<div class="content">

<br>
<form id="glossform" method="post" enctype="multipart/form-data" action="{{ ACTION }}">
	<div class="panel"><div class="inner"><div class="content">
	<input type="hidden" name="term_id" id="term_id" value="{{ CODE }}">
	<fieldset class="fields1">
		<dl>
			<dt><label for="vari">{{ lang('GLOSS_VARIANTS') }}{{ lang('COLON') }}</label><br><span>{{ lang('GLOSS_VARIANTS_EX') }}</span></dt>
			<dd><input type="text" tabindex="1" name="vari" id="vari" size="50" value="{{ VARI }}" class="inputbox autowidth"></dd>
		</dl>
		<dl>
			<dt><label for="term">{{ lang('GLOSS_TERM') }}{{ lang('COLON') }}</label><br><span>{{ lang('GLOSS_TERM_EX') }}</span></dt>
			<dd><input type="text" tabindex="2" name="term" id="term" size="25" value="{{ TERM }}" class="inputbox autowidth"></dd>
		</dl>
		<dl>
			<dt><label for="desc">{{ lang('GLOSS_DESC') }}{{ lang('COLON') }}</label></dt>
			<dd><textarea tabindex="3" rows="2" cols="40" id="desc" name="desc">{{ DESC }}</textarea>
			</dd>
		</dl>
		<dl>
			<dt><label for="cat">{{ lang('GLOSS_ED_CAT') }}{{ lang('COLON') }}</label><br><span>{{ lang('GLOSS_ED_CATEX') }}</span></dt>
			<dd><input type="text" tabindex="4" name="cat" id="cat" size="25" value="{{ CAT }}" class="inputbox autowidth"></dd>
		</dl>
		<dl>
			<dt><label for="ilinks">{{ lang('GLOSS_ED_ILINKS') }}{{ lang('COLON') }}</label><br><span>{{ lang('GLOSS_ED_ILEXP') }}</span></dt>
			<dd><input type="text" tabindex="5" name="ilinks" id="ilinks" size="60" value="{{ ILINKS }}" class="inputbox autowidth"></dd>
		</dl>
		<dl>
			<dt><label for="elinks">{{ lang('GLOSS_ED_ELINKS') }}{{ lang('COLON') }}</label><br><span>{{ lang('GLOSS_ED_ELEXP') }}</span></dt>
			<dd><input type="text" tabindex="6" name="elinks" id="elinks" size="60" value="{{ ELINKS }}" class="inputbox autowidth"></dd>
		</dl>
		<dl>
			<dt><label for="label">{{ lang('GLOSS_ED_LABEL') }}{{ lang('COLON') }}</label><br><span>{{ GLOSS_ED_LABEX }}</span></dt>
			<dd><input type="text" tabindex="7" name="label" id="label" size="25" value="{{ LABEL }}" class="inputbox autowidth"></dd>
		</dl>
		<dl>
			<dt><label for="lang">{{ lang('GLOSS_LANG') }}{{ lang('COLON') }}</label></dt>
			<dd><input type="text" tabindex="8" name="lang" id="lang" size="10" value="{{ LANG }}" class="inputbox autowidth"></dd>
		</dl>
		<!-- Radio button block -->
		<dl>
			<dt><label for="upload_file">{{ lang('GLOSS_ED_PICT') }}{{ lang('COLON') }}</label><br><span>{{ lang('GLOSS_ED_PIEXPL') }}</span></dt>
			{% if S_EDIT %}
				{% if S_PICT %}
				<dd><input type="radio" name="upload" value="noup" tabindex="9" checked>{{ lang('GLOSS_ED_NOUP') }}<br>
				{% else %}
				<dd><input type="radio" name="upload" value="existe" tabindex="10" checked>{{ lang('GLOSS_ED_EXISTE') }} {{ PICT }}<br>
				<input type="hidden" name="pict" id="pict" value="{{ PICT }}">
				{% endif %}
			{% else %}
				<dd><input type="radio" name="upload" value="noup" tabindex="9" checked>{{ lang('GLOSS_ED_NOUP') }}<br>
			{% endif %}
			<input type="radio" name="upload" value="nouv" tabindex="10">{{ lang('GLOSS_ED_UPLOAD') }}{{ lang('COLON') }}
			&nbsp;&nbsp;&nbsp;<input type="file" name="upload_file" tabindex="11" id="upload_file" class="inputbox autowidth"><br>
			<input type="radio" name="upload" value="reuse" tabindex="12" >{{ lang('GLOSS_ED_REUSE') }}{{ lang('COLON') }}
			&nbsp;&nbsp;&nbsp;<input type="text" tabindex="13" name="reuse" class="inputbox autowidth">
			</dd>
		</dl>
		<!-- End of radio button block -->
		<dl>
			<dt>&nbsp;</dt>
			<dd><input type="submit" name="save" id="save" tabindex="5" value="{{ lang('GLOSS_REGIS') }}" class="button1">{% if S_EDIT %}&nbsp;&nbsp;<input type="submit" name="delete" id="delete" tabindex="6" value="{{ lang('GLOSS_SUPPR') }}" class="button1">{% endif %}</dd>
		</dl>
	</fieldset>
	{{ S_FORM_TOKEN }}
	</div></div></div>
	</form>
	</div>
<span class="corners-bottom"><span></span></span>
</div>
</div>

{% INCLUDE 'overall_footer.html' %}