<!-- INCLUDECSS tables.css -->
<!-- INCLUDECSS scroll.css -->
<!-- INCLUDE overall_header.html -->

<span id="top"></span>
<h2>{TITLE}</h2>

<div class="panel">
<div class="inner">
<div class="content">
{ABC}
{ILLUST}

<table class="deg" cellspacing="1">
	<thead>
		<tr class="deg">
			<th class="deg0">{L_GLOSS_ED_TERM}</th>
			<th class="deg0">{L_GLOSS_ED_DEF}</th>
			<th class="deg1">{L_GLOSS_ED_PICT}</th>
		</tr>
	</thead>
	<tbody>
	<!-- BEGIN gaff -->
		<tr class="deg">
		<td class="deg0">{gaff.ANCHOR}<span id="{gaff.ID}"><b>{gaff.TERM}</b></span><br>{gaff.CAT}</td>
		<td class="deg0">{gaff.DEF}{gaff.ILINKS}{gaff.ELINKS}</td>
		<td class="deg1">{gaff.PICT}</td>
		</tr>
	<!-- END gaff -->
	</tbody>
</table>

{BIBLIO}

</div></div></div>

<p id="back-top">
	<a href="#top"><span></span><b>{BACKTOP}</b></a>
</p>

<!-- INCLUDEJS scroll.js -->
<!-- INCLUDE overall_footer.html -->