{% INCLUDECSS '@lmdi_gloss/tables.css' %}
{% INCLUDE 'overall_header.html' %}
<span id="top"></span>

<h2>{{ lang('GLOSSAIRE') }}</h2>

<div class="panel">
	<div class="inner">
	<span class="corners-top"><span></span></span>
		<div class="content">
			<span id="haut"></span>
			{% if S_EDIT %}
			<div class="subtitle"><a href="{{ EDITOR }}">{{ lang('GLOSS_ADMINISTRATION') }}</a></div>
			{% endif %}
			<br /><p class="glossa">{% for gabc in loops.gabc %}<a class="cap" href ="#{{ gabc.ABC }}">{{ gabc.ABC }}&nbsp;</a>{% endfor %}</p>
			{{ lang('ILLUSTRATION') }}
			<table class="deg" cellspacing="1">
			<thead>
				<tr>
					<th class="deg0">{{ lang('GLOSS_ED_TERM') }}</th>
					<th class="deg0">{{ lang('GLOSS_ED_DEF') }}</th>
					<th class="deg1">{{ lang('GLOSS_ED_PICT') }}</th>
				</tr>
			</thead>
			<tbody>
			{% for gaff in loops.gaff %}
				<tr>
				<td class="deg0">{{ gaff.ANCHOR }}<span id="{{ gaff.ID }}"><b>{{ gaff.TERM }}</b></span><br>{{ gaff.CAT }}</td>
				<td class="deg0">{{ gaff.DEF }}{% if gaff.S_ILINKS %}<br>{{ lang('GLOSS_ILINK') }}{{ gaff.ILINKS }}{% endif %}{% if gaff.S_ELINKS %}<br>{{ lang('GLOSS_ELINK') }}<a class="ilinks" href="{{ gaff.ELINKS }}">{{ gaff.LABEL }}</a>{% endif %}</td>
				<td class="deg1">{% if gaff.S_URL %}<a href="{{ gaff.URL }}">{{ gaff.STRURL }}</a>{% endif %}</td>
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
	<span class="corners-bottom"><span></span></span>
	</div>
</div>
<p id="back-top">
	<a href="#top"><span></span><b>{{ lang('BACKTOP') }}</b></a>
</p>

{% INCLUDE 'jumpbox.html' %}
{% INCLUDE 'overall_footer.html' %}