<!-- INCLUDE overall_header.html -->

<h2>{TITLE}</h2>

<form id="glossform" method="post" enctype="multipart/form-data" action="{R_ACTION}">
<div class="panel"><div class="inner"><div class="content">
<input type="hidden" name="term_id" id="term_id" value="{CODE}">
<fieldset class="fields1">
<dl>
<dt><label for="vari">{L_GLOSS_VARIANTS}{L_COLON}</label><br /><span>{L_GLOSS_VARIANTS_EX}</span></dt>
<dd><input type="text" tabindex="1" name="vari" id="vari" size="50" value="{VARI}" class="inputbox autowidth" /></dd>
</dl>
<dl>
<dt><label for="term">{L_GLOSS_TERM}{L_COLON}</label><br /><span>{L_GLOSS_TERM_EX}</span></dt>
<dd><input type="text" tabindex="2" name="term" id="term" size="25" value="{TERM}" class="inputbox autowidth" /></dd>
</dl>
<dl>
<dt><label for="desc">{L_GLOSS_DESC}{L_COLON}</label></dt>
<dd><textarea tabindex="3" rows="2" cols="40" id="desc" name="desc">{DESC}</textarea>
</dd>
</dl>
<dl>
<dt><label for="cat">{L_GLOSS_ED_CAT}{L_COLON}</label><br /><span>{L_GLOSS_ED_CATEX}</span></dt>
<dd><input type="text" tabindex="4" name="cat" id="cat" size="25" value="{CAT}" class="inputbox autowidth" /></dd>
</dl>
<dl>
<dt><label for="ilinks">{L_GLOSS_ED_ILINKS}{L_COLON}</label><br /><span>{L_GLOSS_ED_ILEXP}</span></dt>
<dd><input type="text" tabindex="5" name="ilinks" id="ilinks" size="60" value="{ILINKS}" class="inputbox autowidth" /></dd>
</dl>
<dl>
<dt><label for="elinks">{L_GLOSS_ED_ELINKS}{L_COLON}</label><br /><span>{L_GLOSS_ED_ELEXP}</span></dt>
<dd><input type="text" tabindex="6" name="elinks" id="elinks" size="60" value="{ELINKS}" class="inputbox autowidth" /></dd>
</dl>
<dl>
<dt><label for="label">{L_GLOSS_ED_LABEL}{L_COLON}</label><br /><span>{GLOSS_ED_LABEX}</span></dt>
<dd><input type="text" tabindex="7" name="label" id="label" size="25" value="{LABEL}" class="inputbox autowidth" /></dd>
</dl>
<dl>
<dt><label for="lang">{L_GLOSS_LANG}{L_COLON}</label></dt>
<dd><input type="text" tabindex="8" name="lang" id="lang" size="10" value="{LANG}" class="inputbox autowidth" /></dd>
</dl>
<!-- Radio button block -->
<dl>
<dt><label for="upload_file">{L_GLOSS_ED_PICT}{L_COLON}</label><br /><span>{L_GLOSS_ED_PIEXPL}</span></dt>
<!-- IF S_EDIT -->
	<!-- IF S_PICT -->
	<dd><input type="radio" name="upload" value="noup" tabindex="9" checked>{L_GLOSS_ED_NOUP}<br>
	<!-- ELSE -->
	<input type="radio" name="upload" value="existe" tabindex="10" checked>{L_GLOSS_ED_EXISTE} {PICT}<br>
	<input type="hidden" name="pict" id="pict" value="{PICT}">
	<!-- ENDIF -->
<!-- ELSE -->
	<dd><input type="radio" name="upload" value="noup" tabindex="9" checked>{L_GLOSS_ED_NOUP}<br>
<!-- ENDIF -->
<input type="radio" name="upload" value="nouv" tabindex="10">{L_GLOSS_ED_UPLOAD}{L_COLON}
&nbsp;&nbsp;&nbsp;<input type="file" name="upload_file" tabindex="11" id="upload_file" class="inputbox autowidth" /><br>
<input type="radio" name="upload" value="reuse" tabindex="12" >{L_GLOSS_ED_REUSE}{L_COLON}
&nbsp;&nbsp;&nbsp;<input type="text" tabindex="13" name="reuse" class="inputbox autowidth" />
</dd>
</dl>
<!-- End of radio button block -->
<dl>
<dt>&nbsp;</dt>
<dd><input type="submit" name="save" id="save" tabindex="5" value="{L_GLOSS_REGIS}" class="button1" />&nbsp;&nbsp;
<input type="submit" name="delete" id="delete" tabindex="6" value="{L_GLOSS_SUPPR}" class="button1" /></dd>
</dl>
</div>
</div>
</div>
{S_FORM_TOKEN}
</form>

<!-- INCLUDE overall_footer.html -->